$flatui-colors-turquoise: #1abc9c
$flatui-colors-emerland: #2ecc71
$flatui-colors-peter-river: #3498db
$flatui-colors-amethyst: #9b59b6
$flatui-colors-wet-asphalt: #34495e

$flatui-colors-green-sea: #16a085
$flatui-colors-nephritis: #27ae60
$flatui-colors-belize-hole: #2980b9
$flatui-colors-wisteria: #8e44ad
$flatui-colors-midnight-blue: #2c3e50

$flatui-colors-sun-flower: #f1c40f
$flatui-colors-carrot: #e67e22
$flatui-colors-alizarin: #e74c3c
$flatui-colors-clouds: #ecf0f1
$flatui-colors-concrete: #95a5a6

$flatui-colors-orange: #f39c12
$flatui-colors-pumpkin: #d35400
$flatui-colors-pomegranate: #c0392b
$flatui-colors-silver: #bdc3c7
$flatui-colors-asbestos: #7f8c8d
