@import "_color"

.token
  &.keyword
    font-weight: bold

  &.comment
    font-style: italic
    color: $color-asbestos

  &.number, &.string
    color: $color-pomegranate

  &.variable
    color: $color-belize-hole

  &.punctuation
    color: $color-asbestos
