@import "blueprint/reset"
@import "compass/css3"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/transition"
@import "compass/utilities/general/clearfix"

@import "_baseline"
@import "_color"

@import url(http://fonts.googleapis.com/css?family=Source+Code+Mono)

// Variables  {{{1

$sidebar-width: 240px
$content-width: 940px
$responsive-min-width: 767px

@mixin layout-one-column()
  @media screen and (max-width: 767px)
    @content

@mixin layout-two-column()
  @media screen and (min-width: 768px)
    @content




// Common  {{{1

body
  font-family: "Avenir", "Helvetica", "Arial", sans-serif
  font-size: 14px
  color: $color-midnight-blue
  -webkit-text-size-adjust: 100%
  // @include baseline-grid

h1, h2, h3, h4, h5, h6
  font-weight: bold
  // background: rgba(255, 0, 0, 0.2)

a
  color: $color-turquoise
  text-decoration: none

  &:hover
    text-decoration: underline

pre
  font-family: "Source Code Pro", "Menlo", "Monaco", "Consolas", "Bitstram Vera Sans Mono", monospace
  background-color: $color-clouds
  padding: 0.5em * baseline-line-height(0)
  overflow: scroll
  @include border-radius(4px)

code, var
  background-color: $color-clouds
  padding: 2px 4px
  white-space: nowrap
  @include border-radius(4px)

var
  font-style: normal

em
  color: $color-asbestos

ul, ol
  padding-left: 1.5em




// Header  {{{1

#header
  a
    display: block
    text-decoration: none
    color: $color-clouds
    padding: 0.25em * baseline-line-height(0) 8px

  ul
    margin: 0
    padding: 0
    list-style: none

  h1, h2
    @include baseline-font(18)
    background-color: $color-turquoise
    border-bottom: 1px solid $color-green-sea
    text-transform: uppercase
    margin: 0

    &:hover
      background: $color-green-sea

    a
      padding: 1.0em * baseline-line-height(0) 8px
      color: $color-midnight-blue

    p
      @include baseline-font(14)
      font-weight: normal
      text-transform: none
      margin: 0

  li
    background: $color-wet-asphalt

    &:hover
      background: $color-midnight-blue




// Main  {{{1

#main
  @include clearfix
  padding: 0 1.5em

  header
    margin: 4em * baseline-line-height(0) 0

    h1
      position: relative

      p
        color: $color-silver
        line-height: 1
        font-size: 50%
        font-weight: normal
        margin: 0

  section
    margin-bottom: 2em * baseline-line-height(0)




// Footer  {{{1

#footer
  background-color: $color-midnight-blue
  color: $color-clouds
  text-align: center
  padding:
    top: 2em * baseline-line-height(0)
    bottom: 2em * baseline-line-height(0)

  article
    max-width: $content-width - $sidebar-width

  p
    margin: 0




// Layout  {{{1

@include layout-one-column()
  #header
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 1
    background-color: $color-wet-asphalt

    &:target
      h2, ul
        display: block

    h2, ul
      display: none

    h2
      clear: left

    li
      float: left

  #main
    margin-top: 4em * baseline-line-height(0)

@include layout-two-column()
  #header
    position: fixed
    top: 0
    bottom: 0
    left: 0
    width: $sidebar-width
    overflow: auto

    &::-webkit-scrollbar
      width: 0

    nav
      margin: 0.5em * baseline-line-height(0)

    h1
      @include border-top-left-radius(4px)
      @include border-top-right-radius(4px)

    ul:last-child li:last-child
      @include border-bottom-left-radius(4px)
      @include border-bottom-right-radius(4px)

    li
      text-indent: 1em
      border-bottom: 1px solid $color-midnight-blue

    li:first-child
      border-top: 1px solid $color-midnight-blue

  #main
    margin-left: $sidebar-width
    max-width: $content-width - $sidebar-width

  #footer
    padding-left: $sidebar-width




// Classes  {{{1

dl.arguments
  padding-left: 6px
  border-left: 6px solid $color-peter-river

  dt
    float: left
    width: 4em
    overflow: hidden
    clear: left
    text-overflow: ellipsis
    white-space: nowrap

.function
  padding-left: 6px
  border-left: 6px solid $color-turquoise

  &:not(:last-of-type)
    margin-bottom: 0

  em, var
    font-weight: normal
    background: none
    padding: 0

ul.aliases
  @include clearfix
  list-style: none
  padding: 0

  li
    float: left

  li:first-child:before
    content: "Aliases: "

  li:only-child:before
    content: "Alias: "

  li + li:before
    content: ", "

.top
  display: block
  text-align: right

  a
    border-bottom: 2px solid $color-turquoise
    text-decoration: none

    &:hover
      background-color: $color-clouds




// __END__  {{{1
// vim: expandtab softtabstop=2 shiftwidth=2
// vim: foldmethod=marker
