@import "blueprint/reset"
@import "compass/css3"
@import "compass/css3/background-size"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/transition"
@import "compass/utilities/general/clearfix"

@import "_baseline"
@import "_color"

@import url(//fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro)

// Variables  {{{1

$sidebar-width: 240px
$content-width: 940px

$white-color: #fff
$black-color: $color-midnight-blue
$dark-color: $color-wet-asphalt
$light-color: $color-clouds
$lightgray-color: $color-silver
$gray-color: $color-asbestos
$accent-color: $color-turquoise

@mixin layout-one-column()
  @media screen and (max-width: 767px)
    @content

@mixin layout-two-column()
  @media screen and (min-width: 768px)
    @content




// Common  {{{1

body
  font-family: "Proxima Nova", "Avenir", "Corbel", "Helvetica", "Arial", sans-serif
  font-size: 15px
  color: $black-color
  background-color: $white-color
  -webkit-text-size-adjust: 100%
  // @include baseline-grid

h1, h2, h3, h4, h5, h6
  font-weight: bold
  // background: rgba(255, 0, 0, 0.2)

a
  color: $accent-color
  text-decoration: none

  &:hover
    text-decoration: underline

pre
  font-family: "Consolas", "Menlo", "Monaco", "Bitstram Vera Sans Mono", "Source Code Pro", monospace
  background-color: $light-color
  padding: 0.5em * baseline-line-height(16)
  overflow: auto
  @include border-radius(4px)

  code
    white-space: inherit
    border: 0
    padding: 0

code
  background-color: $light-color
  padding: 2px 4px
  white-space: nowrap
  @include border-radius(4px)

em
  color: $gray-color

table
  width: 100%
  border-collapse: collapse
  border-spacing: 0

td, th
  padding: 0.5em * baseline-line-height(16) 0.5em

th
  font-weight: bold

tr:nth-child(odd) td
  background-color: $light-color

li > *
  margin: 0




// Header  {{{1

#header
  a
    display: block
    text-decoration: none
    color: $light-color

  dl
    background-color: $dark-color
    margin: 0

  .title
    font-size: inherit
    line-height: inherit
    background-color: $accent-color
    margin: 0

    &:hover
      background-color: lighten($accent-color, 5%)

    a
      padding: 0.5em * baseline-line-height(18) 8px
      color: $black-color

    strong
      display: block
      @include baseline-font(20)

    small
      display: block
      font-size: inherit
      font-weight: normal

  dd
    &:hover
      background-color: $black-color

      a
        color: $accent-color

    a
      padding: 0.125em * baseline-line-height(16) 0.5em




// Main  {{{1

#main
  @include clearfix

  header
    padding: 4em * baseline-line-height(16) 1.5em
    background-color: $light-color
    text-align: center

    h1
      margin: 0

    p
      @include baseline-font(24)
      color: $lightgray-color

  aside
    padding: 0.5em * baseline-line-height(16) 0em
    margin-bottom: 2em * baseline-line-height(16)

  .social-buttons
    @include clearfix
    height: 1em * baseline-line-height(16)
    overflow: visible
    text-align: center
    list-style: none
    margin: 0

    li
      display: inline-block

    .hatena-bookmark-button-frame
      width: 130px !important

    .github-watch-button-frame
      width: 95px !important

    .twitter-share-button
      width: 110px !important

  > section
    padding: 0 2em
    margin: 0 auto 4em * baseline-line-height(16)

  section section
    margin: 0 auto 2em * baseline-line-height(16)




// Footer  {{{1

#footer
  background-color: $light-color
  text-align: center
  padding:
    top: 2em * baseline-line-height(16)
    bottom: 2em * baseline-line-height(16)

  p
    margin: 0




// Layout  {{{1

@include layout-one-column()
  #header
    &:target
      dl
        @include transition-timing-function(ease-in)
        max-height: 100%

      a.button-menu
        pointer-events: none

    h1
      position: relative

    dl
      @include clearfix
      @include transition-property(opacity max-height)
      @include transition-duration(0.2s)
      @include transition-timing-function(ease-out)
      position: absolute
      background-color: $dark-color
      overflow: hidden
      max-height: 0%
      z-index: 1

    dt
      clear: left
      position: relative

    dd
      float: left

    a.button-menu
      @include border-radius(4px)
      $height: 32px
      position: absolute
      top: 50%
      right: 8px
      width: 48px
      height: $height
      text-align: center
      line-height: $height
      padding: 0
      margin-top: -($height / 2)
      background-color: $dark-color
      color: $light-color

      &:hover
        background-color: $black-color

@include layout-two-column()
  #header
    position: fixed
    top: 0
    bottom: 0
    left: 0
    width: $sidebar-width
    overflow: auto

    dd
      text-indent: 0.5em

    .button-menu
      display: none

  #main
    margin-left: $sidebar-width

    > section
      max-width: $content-width - $sidebar-width

  #footer
    padding-left: $sidebar-width




// Classes  {{{1

.function
  h4
    padding-left: 6px
    border-left: 6px solid $dark-color

    &:not(:last-of-type)
      margin-bottom: 0

    em, code
      font-weight: normal

  &.lazy h4
    border-left: 6px solid $accent-color

.top
  text-align: right

  a
    border-bottom: 2px solid $color-turquoise
    text-decoration: none

    &:hover
      background-color: $color-clouds

.button
  @include border-radius(4px)
  background-color: $color-turquoise
  color: $color-clouds
  border-bottom: 2px solid darken($accent-color, 10%)
  padding: 0.5em * baseline-line-height(16) 1em

  &:hover
    background-color: lighten($accent-color, 5%)
    text-decoration: none





// __END__  {{{1
// vim: expandtab softtabstop=2 shiftwidth=2
// vim: foldmethod=marker
