:root {
  --baseline-height: 32px;

  --x-light-color: #ffffff;
  --light-color: #f7f9fc;
  --medium-color: #d3dbe3;
  --dark-color: #7e8998;
  --x-dark-color: #203442;

  --shadow-color: rgba(32, 52, 66, 0.1);

  --primary-color: #2eabff;
  --primary-background-color: #e0f3ff;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Nunito, Calibri, 'Tsukushi A Round Gothic', YuGothic, 'Yu Gothic', Meiryo, sans-serif;
  font-size: 16px;
  line-height: var(--baseline-height);
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--x-dark-color);
  background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 var(--baseline-height);
}

figure, ol, p, table, ul {
  margin: 0 0 var(--baseline-height);
}

figure {
  padding: 0;
}

figure > img {
  vertical-align: top;
}

ul, ol {
  padding: 0 0 0 1.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead tr th {
  box-shadow: 0 -2px var(--medium-color) inset;
}

td, th {
  text-align: left;
  margin 0;
  padding: 0 1em;
  box-shadow: 0 -1px var(--medium-color) inset;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  text-decoration-skip: ink;
}

a:hover {
  text-decoration: underline;
}

.display-1 {
  font-size: 4em;
  font-weight: 200;
  line-height: calc(var(--baseline-height) * 2);
}

.display-2 {
  font-size: 1.5em;
  font-weight: 200;
}

.paper {
  background-color: var(--x-light-color);
  margin: 0 auto;
  padding: var(--baseline-height) calc(var(--baseline-height) / 2);
  max-width: 768px;
  box-shadow: 0 0 16px var(--shadow-color);
}

.header {
  padding: var(--baseline-height) calc(var(--baseline-height) / 2);
}

.note {
  padding: var(--baseline-height) calc(var(--baseline-height) / 2);
  background-image: linear-gradient(90deg, white 2px, transparent 1px),
                    linear-gradient(0deg, var(--medium-color) 1px, transparent 1px);
  background-size: 4px auto,
                   2px var(--baseline-height);
}

.badge {
  font-size: 0.75rem;
  padding: 2px 4px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  vertical-align: middle;
  line-height: 0;
  font-weight: normal;
}

.history {
  list-style: none;
  position: relative;
  margin: var(--baseline-height) 0 0;
  padding: 0;
}

.history::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4em;
  width: 0;
  height: 100%;
  border-left: 2px dashed var(--medium-color);
}

.history > li {
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-areas: "date content";
  position: relative;
  padding: 0;
  margin: 0 0 var(--baseline-height);
}

.history > li::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid var(--medium-color);
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--x-light-color);
  position: absolute;
  top: calc(var(--baseline-height) / 2 - 6px);
  left: calc(4em - 5px);
}

.history-date {
  color: var(--dark-color);
  font-weight: 300;
  text-align: right;
  padding: 0 1.5em 0 0;
  grid-column: date;
}

.history-content {
  padding: 0 0 0 1.5em;
  grid-column: content;
}

.history-content > *:first-child {
  margin-top: 0;
}

.list > li + li {
  margin-top: var(--baseline-height)
}

.row {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.row-column + .row-column {
  padding-left: 1em;
}

.row-column-full {
  flex: 1;
}

.dashed {
  display: inline-block;
  border-top: 1px dashed var(--dark-color);
  width: 100%;
  height: 1px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  background-color: currentColor;
  line-height: 0;
  vertical-align: middle;
}

.icon-circle {
  border-radius: 50%;
}

.icon-circle-filled {
  border-radius: 50%;
}

.icon-12 {
  width: 12px;
  height: 12px;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.ruled {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 32"><line x1="0" y1="32" x2="100" y2="32" stroke="%23d3dbe3" stroke-width="1" stroke-dasharray="2"/></svg>');
  background-size: auto var(--baseline-height);
}

.circle {
  border-radius: 50%;
}

.marked {
  background: linear-gradient(transparent 40%, var(--primary-background-color) 40%);
}

.moderate {
  color: var(--dark-color);
}

.muted {
  color: var(--medium-color);
}

.primary {
  color: var(--primary-color);
}

.primary-bg {
  color: var(--primary-background-color);
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.remove-margin {
  margin: 0;
}

.rounded {
  border-radius: 4px;
}

.img-auto {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .paper {
    padding-left: var(--baseline-height);
    padding-right: var(--baseline-height);
  }
}
