@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro);
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.3333333333333333;
  margin-bottom: 0.6666666666666666em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.3125em;
  line-height: 1.1428571428571428;
  margin-bottom: 1.1428571428571428em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333333333333;
  margin-bottom: 1.3333333333333333em;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

dl, ol, p, pre, ul, table {
  margin: 1.5em 0;
}

body {
  font-family: "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #2c3e50;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  font-family: "Source Code Pro", "Menlo", "Monaco", "Consolas", "Bitstram Vera Sans Mono", monospace;
  background-color: #ecf0f1;
  padding: 0.75em;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

code, var {
  background-color: #ecf0f1;
  padding: 2px 4px;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

var {
  font-style: normal;
}

em {
  color: #7f8c8d;
}

ul, ol {
  padding-left: 1.5em;
}

#header a {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
}
#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header h1, #header h2 {
  font-size: 1.125em;
  line-height: 1.3333333333333333;
  background-color: #1abc9c;
  text-transform: uppercase;
  margin: 0;
}
#header h1:hover, #header h2:hover {
  background: #16a085;
}
#header h1 a, #header h2 a {
  padding: 1.3333333333333333em 8px;
  color: #2c3e50;
}
#header h1 p, #header h2 p {
  font-weight: normal;
  text-transform: none;
  margin: 0;
}
#header li {
  background: #34495e;
}
#header li:hover {
  background: #2c3e50;
}
#header li a {
  padding: 0.375em 8px;
}

#main {
  overflow: hidden;
  *zoom: 1;
}
#main header {
  padding: 6em 1.5em;
  margin: 0 0 3em;
  background-color: #ecf0f1;
  text-align: center;
}
#main h1 p {
  color: #bdc3c7;
  line-height: 1;
  font-size: 50%;
  font-weight: normal;
  margin: 0;
}
#main > section {
  padding: 0 1.5em;
  margin-bottom: 6em;
}
#main section section {
  margin-bottom: 3em;
}

#footer {
  background-color: #ecf0f1;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
#footer p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  #header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #header:target nav {
    max-height: 999px;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  #header nav {
    -webkit-transition-property: max-height;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: #34495e;
    overflow: hidden;
    max-height: 0px;
  }
  #header .btn-nav {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: right;
    width: 48px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 1.5em 8px;
    padding: 0;
    background-color: #34495e;
    color: #ecf0f1;
  }
  #header .btn-nav:hover {
    background-color: #2c3e50;
  }
  #header ul {
    overflow: hidden;
    *zoom: 1;
  }
  #header li {
    float: left;
  }

  #main {
    margin-top: 6em;
  }
}
@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    overflow: auto;
  }
  #header::-webkit-scrollbar {
    width: 0;
  }
  #header .btn-nav {
    display: none;
  }
  #header li {
    text-indent: 1em;
  }

  #main {
    margin-left: 240px;
  }
  #main > section {
    max-width: 700px;
  }

  #footer {
    padding-left: 240px;
  }
}
dl.arguments {
  padding-left: 6px;
  border-left: 6px solid #3498db;
}
dl.arguments dt {
  float: left;
  width: 4em;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.function {
  padding-left: 6px;
  border-left: 6px solid #1abc9c;
}
.function:not(:last-of-type) {
  margin-bottom: 0;
}
.function em, .function var {
  font-weight: normal;
  background: none;
  padding: 0;
}

ul.aliases {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  padding: 0;
}
ul.aliases li {
  float: left;
}
ul.aliases li:first-child:before {
  content: "Aliases: ";
}
ul.aliases li:only-child:before {
  content: "Alias: ";
}
ul.aliases li + li:before {
  content: ", ";
}

.top {
  display: block;
  text-align: right;
}
.top a {
  border-bottom: 2px solid #1abc9c;
  text-decoration: none;
}
.top a:hover {
  background-color: #ecf0f1;
}
