@import url(//fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro);
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.baseline-grid {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.25)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 1.75em 1.75em;
}

body {
  line-height: 1.75;
}

h1 {
  font-size: 3em;
  line-height: 1.1666666666666667;
  margin-bottom: 0.5833333333333334em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.5555555555555556;
  margin-bottom: 0.7777777777777778em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1666666666666667;
  margin-bottom: 1.1666666666666667em;
}

h4 {
  font-size: 1.3125em;
  line-height: 1.3333333333333333;
  margin-bottom: 1.3333333333333333em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.5555555555555556;
  margin-bottom: 1.5555555555555556em;
}

h6 {
  font-size: 1em;
  line-height: 1.75;
  margin-bottom: 1.75em;
}

dl, ol, p, pre, ul, table {
  margin-bottom: 1.75em;
}

body {
  font-family: "Proxima Nova", "Avenir", "Corbel", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  color: #2c3e50;
  background-color: white;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  font-family: "TheSans Mono", "Consolas", "Menlo", "Monaco", "Bitstram Vera Sans Mono", "Source Code Pro", monospace;
  background-color: #ecf0f1;
  padding: 0.875em;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
pre code {
  white-space: inherit;
  border: 0;
  padding: 0;
}

code, var {
  background-color: #ecf0f1;
  padding: 2px 4px;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

var {
  font-style: normal;
}

em {
  color: #7f8c8d;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #ecf0f1;
}

td, th {
  padding: 0.875em 0.5em;
}

th, td {
  padding: 0.4375em 0.5em;
}

th {
  font-weight: bold;
  background-color: #ecf0f1;
}

td {
  border-bottom: 1px solid #ecf0f1;
}

ul, ol {
  padding-left: 1.5em;
}

li > * {
  margin: 0;
}

#header a {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
}
#header dl {
  background-color: #34495e;
  margin: 0;
}
#header .title {
  font-size: inherit;
  line-height: inherit;
  background-color: #1abc9c;
  margin: 0;
}
#header .title:hover {
  background-color: #1dd2af;
}
#header .title a {
  padding: 0.875em 8px;
  color: #2c3e50;
}
#header .title strong {
  display: block;
  font-size: 1.25em;
  line-height: 1.4;
}
#header .title small {
  display: block;
  font-size: inherit;
  font-weight: normal;
}
#header dd:hover {
  background-color: #2c3e50;
}
#header dd:hover a {
  color: #1abc9c;
}
#header dd a {
  padding: 0.21875em 0.5em;
}

#main {
  overflow: hidden;
  *zoom: 1;
}
#main header {
  position: relative;
  padding: 7em 0;
  margin-bottom: 7em;
  background-color: #ecf0f1;
  text-align: center;
}
#main header h1 {
  margin: 0;
}
#main header p {
  font-size: 1.5em;
  line-height: 1.1666666666666667;
  color: #bdc3c7;
}
#main .social-buttons {
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  bottom: -2.625em;
  height: 1.75em;
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 0;
}
#main .social-buttons li {
  display: inline-block;
}
#main .social-buttons .hatena-bookmark-button-frame {
  width: 130px !important;
}
#main .social-buttons .github-watch-button-frame {
  width: 95px !important;
}
#main .social-buttons .twitter-share-button {
  width: 110px !important;
}
#main > section {
  padding: 0 1em;
}
#main section {
  margin: 0 auto 3.5em;
}

#footer {
  background-color: #ecf0f1;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
#footer p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  #header:target dl {
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 100%;
  }
  #header:target a.button-menu {
    pointer-events: none;
  }
  #header:target a.button-menu, #header a.button-menu:hover {
    background-color: #2c3e50;
    color: #1abc9c;
  }
  #header h1 {
    position: relative;
  }
  #header dl {
    overflow: hidden;
    *zoom: 1;
    -webkit-transition-property: max-height;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: absolute;
    background-color: #34495e;
    overflow: hidden;
    max-height: 0%;
    z-index: 1;
  }
  #header dt {
    clear: left;
    position: relative;
  }
  #header dd {
    float: left;
  }
  #header a.button-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 48px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    padding: 0;
    margin-top: -16px;
    background-color: #34495e;
    color: #ecf0f1;
  }
}
@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    overflow: auto;
  }
  #header dd {
    text-indent: 0.5em;
  }
  #header .button-menu {
    display: none;
  }

  #main {
    margin-left: 240px;
  }
  #main > section {
    padding: 0 2em;
    max-width: 700px;
  }

  #footer {
    padding-left: 240px;
  }
}
.api {
  padding-left: 6px;
  border-left: 6px solid #34495e;
}
.api.lazy {
  border-left: 6px solid #1abc9c;
}
.api:not(:last-of-type) {
  margin-bottom: 0;
}
.api em, .api var {
  font-weight: normal;
}
.api small {
  font-weight: normal;
  font-size: 80%;
  color: #7f8c8d;
}

.aliases {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  padding: 0;
}
.aliases li {
  float: left;
}
.aliases li:first-child:before {
  content: "Aliases: ";
}
.aliases li:only-child:before {
  content: "Alias: ";
}
.aliases li + li:before {
  content: ", ";
}

.extends {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  padding: 0;
}
.extends li {
  float: left;
}
.extends li:first-child:before {
  content: "Extends: ";
}
.extends li + li:before {
  content: "\a0>\a0";
}

.top {
  text-align: right;
}
.top a {
  border-bottom: 2px solid #1abc9c;
  text-decoration: none;
}
.top a:hover {
  background-color: #ecf0f1;
}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border-bottom: 2px solid #148f77;
  padding: 0.875em 1em;
}
.button:hover {
  background-color: #1dd2af;
  text-decoration: none;
}
