doctype 5

html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title Underbar.php - an array and lazy list utility, like Underscore.js
    link(href="css/styles.css", rel="stylesheet")
  body
    header#header
      h1.title
        a(href="#")
          h2 Underbar.php
          small Version 1.0.0
        a.button-menu(href="#header") &#x2630;

      nav(role="navigation")
        dl
          dd: a(href="#introduction") Introduction
          dd: a(href="#getting-started") Getting Started

          dt.title: a(href="#Underbar")
            h2 Main Classes
            small Underbar namespace
          dd: a(href="#Strict") Strict
          dd: a(href="#Lazy") Lazy
          dd: a(href="#LazyIterator") LazyIterator
          dd: a(href="#LazyGenerator") LazyGenerator

          dt.title: a(href="#Underbar-Internal")
            h2 Internal Classes
            small Underbar\Internal namespace
          dd: a(href="#Strict") Strict
          dd: a(href="#Lazy") Lazy
          dd: a(href="#LazyIterator") LazyIterator
          dd: a(href="#LazyGenerator") LazyGenerator


          dt.title: a(href="#collections")
            h2 Collection Functions
            small Array or Traversable object
          dd: a(href="#each") each
          dd: a(href="#map") map
          dd: a(href="#reduce") reduce
          dd: a(href="#reduceRight") reduceRight
          dd: a(href="#get") get
          dd: a(href="#find") find
          dd: a(href="#filter") filter
          dd: a(href="#where") where
          dd: a(href="#findWhere") findWhere
          dd: a(href="#reject") reject
          dd: a(href="#every") every
          dd: a(href="#all") all
          dd: a(href="#some") some
          dd: a(href="#any") any
          dd: a(href="#sum") sum
          dd: a(href="#product") product
          dd: a(href="#contains") contains
          dd: a(href="#invoke") invoke
          dd: a(href="#pluck") pluck
          dd: a(href="#span") span
          dd: a(href="#max") max
          dd: a(href="#min") min
          dd: a(href="#sortBy") sortBy
          dd: a(href="#groupBy") groupBy
          dd: a(href="#countBy") countBy
          dd: a(href="#shuffle") shuffle
          dd: a(href="#toArray") toArray
          dd: a(href="#size") size
          dd: a(href="#memorize") memorize

          dt.title: a(href="#arrays")
            h2 Array Functions
            small Numerical array
          dd: a(href="#first") first
          dd: a(href="#head") head
          dd: a(href="#take") take
          dd: a(href="#takeWhile") takeWhile
          dd: a(href="#initial") initial
          dd: a(href="#last") last
          dd: a(href="#rest") rest
          dd: a(href="#tail") tail
          dd: a(href="#drop") drop
          dd: a(href="#dropWhile") dropWhile
          dd: a(href="#compact") compact
          dd: a(href="#flatten") flatten
          dd: a(href="#without") without
          dd: a(href="#union") union
          dd: a(href="#intersection") intersection
          dd: a(href="#difference") difference
          dd: a(href="#uniq") uniq
          dd: a(href="#unique") unique
          dd: a(href="#zip") zip
          dd: a(href="#zipWith") zipWith
          dd: a(href="#object") object
          dd: a(href="#indexOf") indexOf
          dd: a(href="#lastIndexOf") lastIndexOf
          dd: a(href="#sortedIndex") sortedIndex
          dd: a(href="#range") range
          dd: a(href="#cycle") cycle
          dd: a(href="#repeat") repeat
          dd: a(href="#iterate") iterate
          dd: a(href="#parMap") parMap
          dd: a(href="#pop") pop
          dd: a(href="#push") push
          dd: a(href="#reverse") reverse
          dd: a(href="#shift") shift
          dd: a(href="#sort") sort
          dd: a(href="#splice") splice
          dd: a(href="#unshift") unshift
          dd: a(href="#concat") concat
          dd: a(href="#join") join
          dd: a(href="#slice") slice

    article#main(role="main")
      header
        h1 Underbar.php
        p an array and lazy list utility, like Underscore.js
        p: a.button(href="https://github.com/emonkak/underbar.php") GitHub Repository

        ul.social-buttons
          li: iframe.github-watch-button-frame(src="http://ghbtns.com/github-btn.html?user=emonkak&repo=underbar.php&type=watch&count=true", width="110", height="20")
          li: a.twitter-share-button(href="https://twitter.com/share") Tweet
          li: a.hatena-bookmark-button(href="http://b.hatena.ne.jp/entry/https://emonkak.github.io/underbar.php/", data-hatena-bookmark-layout="standard-balloon")
            img(src="http://b.st-hatena.com/images/entry-button/button-only.gif", alt="このエントリーをはてなブックマークに追加", width="20", height="20")

      section#introduction
        h2 Introduction
        include includes/introduction.markdown
        p.top: a(href="#") TOP

      section#getting-started
        h2 Getting Started
        include includes/getting-started.markdown
        p.top: a(href="#") TOP

      section#classes
        h2 Classes

        section#Underbar
          h3 Underbar Namespace

          article#Strict
            h4.api Strict <small>Class</small>
            include includes/classes/Strict.markdown
            p.top: a(href="#") TOP

          article#Lazy
            h4.api.lazy Lazy <small>Alias</small>
            include includes/classes/Lazy.markdown
            p.top: a(href="#") TOP

          article#LazyIterator
            h4.api.lazy LazyIterator <small>Class</small>
            ol.extends
              li: code: a(href="#Strict") Strict
              li: code: em LazyIterator
            include includes/classes/LazyIterator.markdown
            p.top: a(href="#") TOP

          article#lazyGenerator
            h4.api.lazy LazyGenerator <small>Class</small>
            ol.extends
              li: code: a(href="#UnsafeLazyGenerator") UnsafeLazyGenerator
              li: code: em LazyGenerator
            include includes/classes/LazyGenerator.markdown
            p.top: a(href="#") TOP

          article#UnsafeLazyGenerator
            h4.api.lazy UnsafeLazyGenerator <small>Class</small>
            ol.extends
              li: code: a(href="#Strict") Strict
              li: code: em UnsafeLazyGenerator
            include includes/classes/UnsafeLazyGenerator.markdown
            p.top: a(href="#") TOP

          article#Enumerable
            h4.api.lazy Enumerable <small>Trait</small>
            include includes/classes/Enumrable.markdown
            p.top: a(href="#") TOP

        section#Underbar-Internal
          h3 Underbar\Internal Namespace

          article#Parallel
            h4.api Parallel <small>Class</small>
            include includes/classes/Parallel.markdown
            p.top: a(href="#") TOP

      section#functions
        h2 Functions

        section#collections
          h3 Collection Functions

          article#each
            h4.api <em>void</em> each(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>)
            include includes/functions/each.markdown
            p.top: a(href="#") TOP

          article#map
            h4.api.lazy <em>array</em> map(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>)
            include includes/functions/map.markdown
            p.top: a(href="#") TOP

          article#reduce
            h4.api <em>mixed</em> reduce(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>, <em>mixed</em> <var>$acc</var>)
            ul.aliases
              li: code inject()
              li: code foldl()
            include includes/functions/reduce.markdown
            p.top: a(href="#") TOP

          article#reduceRight
            h4.api <em>mixed</em> reduceRight(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>, <em>mixed</em> <var>$acc</var>)
            ul.aliases
              li: code foldr()
            include includes/functions/reduceRight.markdown
            p.top: a(href="#") TOP

        section#arrays
          h3 Array Functions

          article#first
            h4.api.lazy <em>array</em> first(<em>array</em> <var>$xs</var>)
            h4.api <em>mixed</em> first(<em>array</em> <var>$xs</var>, <em>int</em> <var>$n</var>)
            ul.aliases
              li: code head()
              li: code take()
            include includes/functions/first.markdown
            p.top: a(href="#") TOP

          article#parMap
            h4.api <em>Internal\Parallel</em> parMap(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>, <em>int</em> <var>$n = 4</var>)
            include includes/functions/parMap.markdown
            p.top: a(href="#") TOP

      footer#footer
        p Developed by <a href="http://twitter.com/emonkak">@emonkak</a>
        p Licensed under the <a href="https://github.com/emonkak/underbar.php/blob/master/LICENSE">MIT License</a>

    script(src="js/prism.js", async)
    script(src="//b.st-hatena.com/js/bookmark_button.js", async)
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41380289-1', 'emonkak.github.io');
      ga('send', 'pageview');
