doctype 5

html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title Underbar.php - an array and lazy list utility, like Underscore.js
    link(href="css/style.css", rel="stylesheet")
  body
    header#header
      nav(role="navigation")
        h1.title
          a(href="#")
            strong Underbar.php
            small Version 1.0.0
          a.button-menu(href="#header") &#x2630;
        dl
          dd: a(href="#introduction") Introduction
          dd: a(href="#getting-started") Getting Started

          dt.title: a(href="#classes")
            strong Classes
            small Underbar Namespace
          dd: a(href="#class-Strict") Strict
          dd: a(href="#class-Lazy") Lazy
          dd: a(href="#class-LazyIterator") LazyIterator
          dd: a(href="#class-LazyGenerator") LazyGenerator
          dd: a(href="#class-UnsafeLazyGenerator") UnsafeLazyGenerator
          dd: a(href="#class-Enumerable") Enumerable

          dt.title: a(href="#collections")
            strong Collections
            small Array or Traversable Object
          dd: a(href="#function-each") each
          dd: a(href="#function-map") map
          dd: a(href="#function-parMap") parMap
          dd: a(href="#function-reduce") reduce
          dd: a(href="#function-reduceRight") reduceRight
          dd: a(href="#function-get") get
          dd: a(href="#function-find") find
          dd: a(href="#function-filter") filter
          dd: a(href="#function-where") where
          dd: a(href="#function-findWhere") findWhere
          dd: a(href="#function-reject") reject
          dd: a(href="#function-every") every
          dd: a(href="#function-all") all
          dd: a(href="#function-some") some
          dd: a(href="#function-any") any
          dd: a(href="#function-sum") sum
          dd: a(href="#function-product") product
          dd: a(href="#function-contains") contains
          dd: a(href="#function-invoke") invoke
          dd: a(href="#function-pluck") pluck
          dd: a(href="#function-span") span
          dd: a(href="#function-max") max
          dd: a(href="#function-min") min
          dd: a(href="#function-sortBy") sortBy
          dd: a(href="#function-groupBy") groupBy
          dd: a(href="#function-countBy") countBy
          dd: a(href="#function-shuffle") shuffle
          dd: a(href="#function-toArray") toArray
          dd: a(href="#function-size") size
          dd: a(href="#function-memorize") memorize

          dt.title: a(href="#arrays")
            strong Arrays
            small Numerical Array
          dd: a(href="#function-first") first
          dd: a(href="#function-head") head
          dd: a(href="#function-take") take
          dd: a(href="#function-takeWhile") takeWhile
          dd: a(href="#function-initial") initial
          dd: a(href="#function-last") last
          dd: a(href="#function-rest") rest
          dd: a(href="#function-tail") tail
          dd: a(href="#function-drop") drop
          dd: a(href="#function-dropWhile") dropWhile
          dd: a(href="#function-compact") compact
          dd: a(href="#function-flatten") flatten
          dd: a(href="#function-without") without
          dd: a(href="#function-union") union
          dd: a(href="#function-intersection") intersection
          dd: a(href="#function-difference") difference
          dd: a(href="#function-uniq") uniq
          dd: a(href="#function-unique") unique
          dd: a(href="#function-zip") zip
          dd: a(href="#function-zipWith") zipWith
          dd: a(href="#function-object") object
          dd: a(href="#function-indexOf") indexOf
          dd: a(href="#function-lastIndexOf") lastIndexOf
          dd: a(href="#function-sortedIndex") sortedIndex
          dd: a(href="#function-range") range
          dd: a(href="#function-cycle") cycle
          dd: a(href="#function-repeat") repeat
          dd: a(href="#function-iterate") iterate
          dd: a(href="#function-pop") pop
          dd: a(href="#function-push") push
          dd: a(href="#function-reverse") reverse
          dd: a(href="#function-shift") shift
          dd: a(href="#function-sort") sort
          dd: a(href="#function-splice") splice
          dd: a(href="#function-unshift") unshift
          dd: a(href="#function-concat") concat
          dd: a(href="#function-join") join
          dd: a(href="#function-slice") slice

    article#main(role="main")
      header
        h1 Underbar.php
        p an array and lazy list utility, like Underscore.js
        p: a.button(href="https://github.com/emonkak/underbar.php") GitHub Repository

        ul.social-buttons
          li: iframe.github-watch-button-frame(src="http://ghbtns.com/github-btn.html?user=emonkak&repo=underbar.php&type=watch&count=true", width="110", height="20")
          li: a.twitter-share-button(href="https://twitter.com/share") Tweet
          li: a.hatena-bookmark-button(href="http://b.hatena.ne.jp/entry/https://emonkak.github.io/underbar.php/", data-hatena-bookmark-layout="standard-balloon")
            img(src="http://b.st-hatena.com/images/entry-button/button-only.gif", alt="このエントリーをはてなブックマークに追加", width="20", height="20")
          li: div.fb-like(data-href="https://emonkak.github.io/underbar.php/", data-send="false", data-layout="button_count", data-width="450", data-show-faces="false")

      section#introduction
        h2 Introduction
        include includes/introduction.markdown

      section#getting-started
        h2 Getting Started
        include includes/getting-started.markdown

      section#classes
        h2 Classes
        h3 Underbar Namespace

        section#class-Strict
          h4.api Strict <small>Class</small>
          include includes/classes/Strict.markdown

        section#class-Lazy
          h4.api Lazy <small>Class Alias</small>
          include includes/classes/Lazy.markdown

        section#class-LazyIterator
          h4.api LazyIterator <small>Class</small>
          include includes/classes/LazyIterator.markdown

        section#class-lazyGenerator
          h4.api LazyGenerator <small>Class</small>
          ol.extends
            li: code: a(href="#class-UnsafeLazyGenerator") UnsafeLazyGenerator
            li: code: strong LazyGenerator
          include includes/classes/LazyGenerator.markdown

        section#class-UnsafeLazyGenerator
          h4.api UnsafeLazyGenerator <small>Class</small>
          include includes/classes/UnsafeLazyGenerator.markdown

        section#class-Enumerable
          h4.api Enumerable <small>Trait</small>
          include includes/classes/Enumrable.markdown

      section#functions
        h2 Functions

        section#collections
          h3 Collection Functions

          section#function-each
            h4.api <em>void</em> each(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>)
            include includes/functions/each.markdown

          section#function-map
            h4.api.lazy <em>array</em> map(<em>array</em> <var>$xs</var>, <em>callable</em> <var>$f</var>)
            include includes/functions/map.markdown

        section#arrays
          h3 Array Functions

          section#function-first
            h4.api.lazy <em>array</em> first(<em>array</em> <var>$xs</var>)
            h4.api <em>array</em> first(<em>array</em> <var>$xs</var>, <em>int</em> <var>$n</var>)
            ul.aliases
              li: code head()
              li: code take()
            include includes/functions/first.markdown

    footer#footer
      p Developed by <a href="http://twitter.com/emonkak">@emonkak</a>
      p Licensed under the <a href="https://github.com/emonkak/underbar.php/blob/master/LICENSE">MIT License</a>
    div#fb-root
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script(src="//b.st-hatena.com/js/bookmark_button.js", async="async")
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
