/* Prelude  {{{1 */

@property --floor {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

:root {
  --scale-base: 1.125;
  --scale-h1: calc(var(--scale-h2) * var(--scale-base));
  --scale-h2: calc(var(--scale-h3) * var(--scale-base));
  --scale-h3: calc(var(--scale-h4) * var(--scale-base));
  --scale-h4: calc(var(--scale-h5) * var(--scale-base));
  --scale-h5: calc(var(--scale-h6) * var(--scale-base));
  --scale-h6: var(--scale-base);
  --scale-small: calc(var(--scale-base) / var(--scale-h5));
  --scale-x-small: calc(var(--scale-base) / var(--scale-h4));
  --scale-xx-small: calc(var(--scale-base) / var(--scale-h3));

  --text-h1: calc(1rem * var(--scale-h1));
  --text-h2: calc(1rem * var(--scale-h2));
  --text-h3: calc(1rem * var(--scale-h3));
  --text-h4: calc(1rem * var(--scale-h4));
  --text-h5: calc(1rem * var(--scale-h5));
  --text-h6: calc(1rem * var(--scale-h6));
  --text-small: calc(1rem * var(--scale-small));
  --text-x-small: calc(1rem * var(--scale-x-small));
  --text-xx-small: calc(1rem * var(--scale-xx-small));

  --text-columns: 40rem;
  --line-feed: calc(1rem * var(--scale-h3));

  --font-text: Charter, Cambria, Times, 'BIZ UDMincho', YuMincho, 'Hiragino Mincho ProN', 'Noto Serif CJK JP', serif;
  --font-display: 'Helvetica Neue', Helvetica, Meiryo, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans CJK JP', sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Segoe Ui Symbol', sans-serif;
  --font-code: 'PT Mono', 'Lucida Console', Courier, Meiryo, 'Hiragino Kaku Gothic ProN', 'Noto Sans CJK JP', monospace;

  --gray-1: #f5f6f7;
  --gray-2: #e8e9eb;
  --gray-3: #dadce0;
  --gray-4: #c3c9d6;
  --gray-5: #a1acc4;
  --gray-6: #8190b3;
  --gray-7: #5f719c;
  --gray-8: #455987;
  --gray-9: #2b3f6e;
  --gray-10: #12234d;
  --red-1: #fff0ed;
  --red-2: #ffe7e3;
  --red-3: #ffd1c9;
  --red-4: #fcb4a9;
  --red-5: #fa907f;
  --red-6: #f25d46;
  --red-7: #d1331b;
  --red-8: #a1220e;
  --red-9: #78190b;
  --red-10: #451008;
  --yellow-1: #fff5eb;
  --yellow-2: #fce7cf;
  --yellow-3: #fcd6a9;
  --yellow-4: #f7be7c;
  --yellow-5: #eb9e46;
  --yellow-6: #c97c24;
  --yellow-7: #a15f15;
  --yellow-8: #7d4a0f;
  --yellow-9: #57330a;
  --yellow-10: #331e07;
  --cyan-1: #e1fcfc;
  --cyan-2: #c0f8fa;
  --cyan-3: #7ceef2;
  --cyan-4: #4fdee3;
  --cyan-5: #31bfc4;
  --cyan-6: #1f9fa3;
  --cyan-7: #167e82;
  --cyan-8: #0f6163;
  --cyan-9: #0a4345;
  --cyan-10: #072a2b;
  --blue-1: #f0f4ff;
  --blue-2: #e0eaff;
  --blue-3: #ccdbff;
  --blue-4: #b3c9ff;
  --blue-5: #8badfc;
  --blue-6: #5f8dfa;
  --blue-7: #306bf2;
  --blue-8: #124edb;
  --blue-9: #0837a3;
  --blue-10: #071e52;
  --violet-1: #f7f2ff;
  --violet-2: #f0e8ff;
  --violet-3: #e4d4ff;
  --violet-4: #d3baff;
  --violet-5: #c09cff;
  --violet-6: #a877fc;
  --violet-7: #8848f7;
  --violet-8: #6f24f0;
  --violet-9: #4a08bd;
  --violet-10: #2b0769;
}

/* Base  {{{1 */

html {
  --current-bg: var(--red-1);
  font-family: var(--font-text);
  font-size: clamp(14px, calc(0.875rem + ((1vi - 3.2px) * 1.0989)), 18px);
  line-height: var(--line-feed);
  background-color: var(--current-bg);
  background-repeat: repeat;
  color: var(--gray-10);
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, [role="heading"] {
  --floor: calc((var(--scale, 1.0) - 0.25) / 0.25 - 0.5);
  --line-scale: max(var(--floor) * 0.25, 1.0);
  line-height: calc(var(--line-feed) * var(--line-scale));
  letter-spacing: -0.5px;
  font-family: var(--font-display);
  font-weight: bold;
  font-size: calc(1.0rem * var(--scale, 1.0));
  font-feature-settings: 'palt';
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0 var(--line-feed);
}

:not(:where(h1, h2, h3, h4, h5, h6)) + :is(h1, h2, h3) {
  margin-block-start: calc(var(--line-feed) * 2);
}

:not(:where(h1, h2, h3, h4, h5, h6)) + :is(h4, h5, h6) {
  margin-block-start: var(--line-feed);
}

h1 {
  --scale: var(--scale-h1);
}

h2 {
  --scale: var(--scale-h2);
}

h3 {
  --scale: var(--scale-h3);
}

h4 {
  --scale: var(--scale-h4);
}

h5 {
  --scale: var(--scale-h5);
}

h6 {
  --scale: var(--scale-h6);
}

iframe {
  border: 0;
}

blockquote, details, dl, figure, ol, p, pre, table, ul {
  margin-block: 0 var(--line-feed);
  margin-inline: 0;
}

hr {
  margin-block: 0 var(--line-feed);
  margin-inline: 0;
  border: 0;
  font-size: var(--line-feed);
  line-height: calc(var(--line-feed) * 2);
  background-image: linear-gradient(to left, currentColor, rgba(255, 255, 255, 0)),
                    linear-gradient(to right, currentColor, rgba(255, 255, 255, 0));
  background-position: left center, right center;
  background-size: calc(50% - 1.5ch) 1px;
  background-repeat: no-repeat;
}

hr::before {
  content: '§';
  display: block;
  text-align: center;
  transform: rotate(20deg);
}

menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol, ul {
  padding-inline-start: calc(var(--line-feed) * 1.5);
}

figcaption {
  text-align: center;
  font-family: var(--font-display);
  font-size: var(--text-x-small);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
  line-height: inherit;
  white-space: inherit;
}

th {
  text-align: left;
  font-family: var(--font-display);
}

em, strong {
  font-family: var(--font-display);
}

code, kbd, pre, samp, var {
  font-family: var(--font-code);
  font-size: var(--text-small);
}

code, kbd, samp, var {
  line-height: 1.0;
}

kbd {
  padding-block: 1px;
  padding-inline: 0.5ch;
  margin-inline: 2px;
  vertical-align: 2px;
  border: 1px solid currentColor;
  border-radius: 4px;
  box-shadow: 0 2px 0 1px currentColor;
  font-size: var(--text-x-small);
  line-height: 1.0;
}

summary {
  cursor: pointer;
}

a {
  color: var(--red-6);
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

/* Layouts  {{{1 */

.l-header {
  --current-bg: var(--gray-10);
  padding-block: var(--line-feed);
  background-color: var(--current-bg);
  color: var(--red-1);
}

.l-main {
  padding-block: var(--line-feed);
}

.l-container {
  margin-inline: auto;
  padding-inline: calc(var(--line-feed) / 2);
  max-inline-size: var(--text-columns);
}

.l-footer {
  padding-block: calc(var(--line-feed) - 1px) var(--line-feed);
  border-block-start: 1px dashed currentColor;
}

.l-article-header {
  --current-bg: var(--red-3);
  padding-block: var(--line-feed);
  background-color: var(--current-bg);
}

.l-article-main {
  padding-block-start: var(--line-feed);
}

.l-article-footer {
  padding-block: calc(var(--line-feed) - 1px) var(--line-feed);
  border-block-start: 1px dashed currentColor;
  background-color: var(--red-2);
}

.l-page {
  padding-block: var(--line-feed);
}

/* Components  {{{1 */
/* .button  {{{2 */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 4px;
  padding-block: calc(var(--line-feed) / 4 - 2px);
  padding-inline: 2ch;
  font-family: var(--font-display);
}

a.button {
  text-decoration: none;
}

.button.is-outlined {
  color: var(--gray-10);
  border-color: var(--gray-10);
  box-shadow: 2px 2px var(--gray-4);
}

.button.is-outlined:hover {
  color: var(--current-bg);
  background-color: var(--gray-10);
}

.button.is-filled {
  color: var(--current-bg);
  background-color: var(--gray-10);
}

.button.is-filled:hover {
  background-color: var(--gray-9);
}

/* .circle-button  {{{2 */

.circle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: calc(var(--line-feed) * 2 - 1px);
  inline-size: calc(var(--line-feed) * 2 - 1px);
  border: 1px solid currentColor;
  border-radius: 50%;
  background-color: var(--red-1);
  box-shadow: 2px 2px var(--gray-4);
}

a.circle-button {
  color: inherit;
  text-decoration: none;
}

a.circle-button:hover {
  background-color: var(--gray-2);
}

/* .figure  {{{2 */
/* Common  {{{3 */

.figure-caption {
  color: var(--gray-7);
}

.figure:where(.is-table, .is-html) > .figure-body {
  overflow-x: auto;
}

.figure:where(.is-table, .is-html) > .figure-body::-webkit-scrollbar {
  inline-size: calc(var(--line-feed) / 2);
  block-size: calc(var(--line-feed) / 2);
  background-color: var(--gray-8);
}

.figure:where(.is-table, .is-html) > .figure-body::-webkit-scrollbar-thumb {
  background-color: var(--gray-10);
}

/* Link  {{{3 */

.figure-body > a {
  --border-color: var(--gray-5);
  --shadow-color: var(--gray-3);
  display: block;
  padding: calc(var(--line-feed) / 2 - 2px);
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 2px 2px var(--shadow-color);
  font-family: var(--font-display);
  font-weight: bold;
}

.figure-body > a:hover {
  --border-color: var(--red-6);
  --shadow-color: var(--red-3);
}

.figure-body > a[data-domain]::after {
  content: attr(data-domain);
  display: block;
  padding-inline-start: calc(16px + 0.5ch);
  font-size: var(--text-small);
  font-weight: normal;
  word-break: break-all;
  color: var(--gray-7);
  background-image: var(--favicon);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left center;
}

/* Code  {{{3 */

.figure.is-code {
  position: relative;
}

.figure.is-code[data-language]::before {
  content: attr(data-language);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(var(--line-feed) / 2);
  line-height: 1.0;
  padding-block: 2px;
  padding-inline: 0.5ch;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
  background-color: var(--red-6);
  color: var(--red-1);
  font-family: var(--font-display);
  font-size: var(--text-x-small);
}

.figure-body > pre {
  padding: calc(var(--line-feed) / 2);
  margin-block-end: 0;
  color: var(--gray-1);
  background-color: var(--gray-10);
  overflow-x: auto;
  overflow-x: overlay;
}

.figure-body > pre::-webkit-scrollbar {
  inline-size: calc(var(--line-feed) / 2);
  block-size: calc(var(--line-feed) / 2);
}

.figure-body > pre::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--gray-8);
  border: 4px solid transparent;
}

.figure-body > pre > code {
  all: unset;
}

/* Blockquote  {{{3 */

.figure-body > blockquote {
  position: relative;
  margin-block-end: 0;
  padding-block: var(--line-feed);
  padding-inline: calc(var(--line-feed) / 2);
  background-color: var(--red-2);
  background-image: linear-gradient(var(--red-5), var(--red-5)),
                    linear-gradient(var(--red-5), var(--red-5)),
                    linear-gradient(var(--red-5), var(--red-5)),
                    linear-gradient(var(--red-5), var(--red-5));
  background-position: top left, top right, bottom left, bottom right;
  background-size: var(--line-feed) 1px,
                   calc(100% - var(--line-feed) * 2.5) 1px,
                   calc(100% - var(--line-feed) * 2.5) 1px,
                   var(--line-feed) 1px;
  background-repeat: no-repeat;
}

.figure-body > blockquote::before,
.figure-body > blockquote::after {
  position: absolute;
  inline-size: calc(var(--line-feed) * 1.5);
  color: var(--red-6);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.figure-body > blockquote::before {
  content: '\201c';
  inset-block-start: 0;
  inset-inline-start: var(--line-feed);
  transform: translateY(-25%);
}

.figure-body > blockquote::after {
  content: '\201d';
  inset-block-end: 0;
  inset-inline-end: var(--line-feed);
  transform: translateY(75%);
}

.figure-body > blockquote > :last-child {
  margin-block-end: 0;
}

/* Table  {{{3 */

.figure-body > table {
  max-inline-size: 100%;
  margin-block-end: 0;
  margin-inline: auto;
  font-size: var(--text-small);
}

.figure-body > table > tr > :is(td, th),
.figure-body > table > :is(tbody, thead, tfoot) > tr > :is(td, th) {
  padding-block: calc(var(--line-feed) / 4);
  padding-inline: 1ch;
  border: 0 solid var(--gray-10);
}

.figure-body > table > thead > tr > :is(td, th) {
  padding-block-end: calc(var(--line-feed) / 4 - 2px);
  border-block-end-width: 2px;
}

.figure-body > table > tr > :is(td, th),
.figure-body > table > tbody > tr > :is(td, th) {
  padding-block-end: calc(var(--line-feed) / 4 - 1px);
  border-block-end-width: 1px;
}

.figure-body > table > tfoot > tr > :is(td, th) {
  padding-block-start: calc(var(--line-feed) / 4 - 2px);
  border-block-start-width: 2px;
}

/* Image  {{{3 */

.figure.is-image {
  font-family: var(--font-display);
}

.figure-body > :is(img, svg) {
  display: block;
  margin-inline: auto;
  max-inline-size: 100%;
  block-size: auto;
}

/* .footnote  {{{2 */

.footnote {
  display: flex;
  margin-block: 0 var(--line-feed);
  font-family: var(--font-display);
  font-size: var(--text-small);
}

.footnote:has(+ .footnote) {
  margin-block-end: 0;
}

.footnote-label {
  box-sizing: border-box;
  inline-size: calc(var(--line-feed) * 1.5);
  text-align: end;
  font-variant-numeric: tabular-nums;
}

.footnote-label::after {
  content: ' ';
  white-space: pre;
}

a.footnote-back-reference {
  text-decoration: none;
}

.footnote-body {
  flex: 1 1;
}

.footnote-body > :last-child {
  margin-block-end: 0;
}

/* .icon  {{{2 */

.icon {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

/* .inline-list  {{{2 */

.inline-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.inline-list.is-vertical {
  writing-mode: vertical-rl;
}

.inline-list.is-center {
  justify-content: center;
}

.inline-list.is-spaced-small {
  column-gap: 0.5ch;
}

.inline-list.is-spaced-medium {
  column-gap: 1ch;
}

.inline-list.is-spaced-large {
  column-gap: 1.5ch;
}

:where(.inline-list.is-separated) > .inline-list-item + .inline-list-item::before {
  content: '·';
  color: var(--gray-7);
  margin-inline: 0.5ch;
}

.inline-list-separator {
  align-self: center;
  inline-size: 1px;
  block-size: calc(var(--line-feed) - 2px);
  margin-inline: 0.5ch;
  background-color: var(--gray-5);
  background-clip: content-box;
}

/* .note  {{{2 */

.note {
  padding: var(--line-feed);
  margin-block: 0 var(--line-feed);
}

.note.is-note {
  --current-bg: var(--blue-2);
  color: var(--blue-10);
  background-color: var(--current-bg);
}

.note.is-warning {
  --current-bg: var(--yellow-2);
  color: var(--yellow-10);
  background-color: var(--current-bg);
}

.note.is-callout {
  --current-bg: var(--red-2);
  color: var(--red-10);
  background-color: var(--current-bg);
}

.note-caption {
  font-weight: bold;
  font-family: var(--font-display);
  margin-block-end: var(--line-feed);
}

.note-caption::before {
  font-family: var(--font-emoji);
  margin-inline-end: 0.5ch;
}

.note.is-note .note-caption::before {
  content: '💡';
}

.note.is-warning .note-caption::before {
  content: '⚠';
}

.note.is-callout .note-caption::before {
  content: '🚨';
}

.note-body > :last-child {
  margin-block-end: 0;
}

@media not (min-width: 38rem) {
  .note {
    margin-inline: calc(var(--line-feed) / 2 * -1);
  }
}

/* .tag  {{{2 */

.tag-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 0.5ch;
  row-gap: calc(var(--line-feed) / 4);
  flex-wrap: wrap;
}

.tag-item {
  display: flex;
  height: var(--line-feed);
  padding-block: 1px;
  box-sizing: border-box;
}

.tag-item-label {
  padding-inline: 0.5ch;
  border-radius: 4px;
  color: var(--current-bg);
  background-color: var(--gray-10);
  line-height: calc(var(--line-feed) - 2px);
}

a.tag-item-label {
  text-decoration: none;
}

a.tag-item-label:hover {
  background-color: var(--red-6);
}

/* Modules  {{{1 */
/* .archive  {{{2 */

.archive-list {
  list-style: none;
  margin-block-end: var(--line-feed);
  padding: 0;
  font-family: var(--font-display);
}

.archive-item {
  display: grid;
  grid-template-columns: auto minmax(1ch, 1fr) auto;
  column-gap: 1ch;
  align-items: center;
  margin-block-end: calc(var(--line-feed) / 2);
}

.archive-item::before {
  content: '';
  grid-column: 2;
  grid-row: 2;
  border-block-start: 1px solid currentColor;
}

.archive-item-metadata {
  order: 0;
  grid-column: span 3;
  font-size: var(--text-small);
}

.archive-item-main {
  grid-column: 1;
}

.archive-item-date {
  grid-column: 3;
}

.archive-item-title {
  --scale: var(--scale-h6);
  font-weight: normal;
}

a.archive-item-title {
  color: inherit;
  text-decoration: none;
}

a.archive-item-title:hover {
  color: var(--red-6);
}

/* .article-card  {{{2 */

.article-card-list {
  list-style: none;
  padding: 0;
}

.article-card-item {
  --current-bg: var(--red-1);
  padding-block: var(--line-feed);
  padding-inline: calc(var(--line-feed) - 2px);
  margin-block-end: var(--line-feed);
  border: 2px solid currentColor;
  border-radius: 4px;
  box-shadow: 2px 2px var(--gray-4);
  background-color: var(--current-bg);
}

.article-card-item-header {
  font-family: var(--font-display);
  margin-block-end: var(--line-feed);
}

.article-card-item-title {
  --scale: var(--scale-h4);
}

a.article-card-item-title-anchor {
  color: inherit;
  text-decoration: none;
}

a.article-card-item-title-anchor:hover {
  color: var(--red-6);
}

.article-card-item-metadata {
  color: var(--gray-7);
  font-size: var(--text-small);
}

.article-card-item-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* .document  {{{2 */

.document {
  margin-block-end: var(--line-feed);
}

.document h1 {
  display: grid;
  grid-template-columns: minmax(var(--line-feed), 1fr)
                         auto
                         minmax(var(--line-feed), 1fr);
  align-items: center;
  column-gap: 0.5ch;
}

.document h1::before,
.document h1::after {
  content: '';
  display: block;
  border-block-start: 2px solid currentColor;
}

.document h2 {
  position: relative;
}

.document h2::before {
  content: '';
  position: absolute;
  inset-block-end: -4px;
  block-size: 4px;
  inline-size: calc(var(--line-feed) * 1.5);
  background-color: var(--red-6);
}

.document p {
  text-align: justify;
  hyphens: auto;
}

@media not (min-width: 38rem) {
  .document > :is(.figure.is-blockquote, .figure.is-code, .figure.is-image, .figure.is-table) > .figure-body {
    margin-inline: calc(var(--line-feed) / 2 * -1);
  }

  .document > .figure.is-code[data-language]::before {
    inset-inline-end: 0;
  }
}

/* .error  {{{2 */

.error-code {
  --scale: 4.0;
  display: grid;
  grid-template-columns: minmax(var(--line-feed), 1fr)
                         auto
                         minmax(var(--line-feed), 1fr);
  align-items: center;
  column-gap: 0.5ch;
}

.error-code::before,
.error-code::after {
  content: '';
  display: block;
  border-block-start: 2px solid currentColor;
}

.error-description {
  text-align: center;
}

.error-message {
  font-size: var(--text-h5);
}

/* .footer  {{{2 */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font-display);
}

.footer-main {
  grid-column: span 2;
  text-align: center;
}

.footer-group {
  margin-block-end: var(--line-feed);
}

.footer-title {
  --scale: var(--scale-h4);
  margin-block: 0;
  font-weight: 800;
}

a.footer-title-anchor {
  color: inherit;
  text-decoration: none;
}

a.footer-title-anchor:hover {
  color: var(--red-6);
}

.footer-author {
  font-size: var(--text-x-small);
}

.footer-heading {
  --scale: 1.0;
  margin-block: 0;
}

.footer-item {
  font-size: var(--text-small);
}

@media (min-width: 38rem) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--line-feed);
  }

  .footer-main {
    grid-column: 1;
    text-align: left;
  }
}

/* .header  {{{2 */

.header-title {
  container-type: inline-size;
  display: block;
  padding-block: calc(var(--line-feed) / 2) 0;
  border-block-width: 2px 2px;
  border-inline-width: 0;
  border-style: solid;
  border-color: currentColor;
  font-family: var(--font-display);
}

a.header-title {
  text-decoration: none;
  color: inherit;
}

.header-tagline {
  font-size: var(--text-small);
}

.header-title-logo {
  --scrollbar-size: 17px;
  --container-size: min(calc(100vi - var(--line-feed) - var(--scrollbar-size)), var(--text-columns));
  font-weight: 800;
  font-size: calc(var(--container-size) / var(--letters));
  line-height: 1.0;
  text-align: justify;
  text-align-last: justify;
  white-space: nowrap;
}

@supports (container-type: inline-size) {
  .header-title-logo {
    --container-size: 100cqi;
  }
}

@media (pointer: coarse) {
  .header-title-logo {
    --scrollbar-size: 0px;
  }
}

.header-title-author {
  text-align: right;
  font-size: var(--text-small);
}

/* .introduction  {{{2 */

.introduction {
  font-family: var(--font-display);
}

.introduction-title {
  margin-block: 0;
}

.introduction-bound {
  display: grid;
  grid-template-columns: var(--line-feed)
                         auto
                         minmax(var(--line-feed), 1fr);
  align-items: center;
  column-gap: 0.5ch;
}

.introduction-bound::before,
.introduction-bound::after {
  content: '';
  display: block;
  border-block-start: 2px solid currentColor;
}

/* .nav  {{{2 */

.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family: var(--font-display);
  font-size: var(--text-h6);
}

.nav-menu-item {
  display: flex;
}

.nav-menu-item + .nav-menu-item::before {
  content: '/';
  margin-inline: 0.5ch;
}

a.nav-menu-item-anchor {
  display: block;
  text-decoration: none;
}

a.nav-menu-item-anchor:hover {
  color: var(--current-bg);
  background-color: var(--red-6);
}

/* .share  {{{2 */

.share {
  padding-block: var(--line-feed);
  margin-block-end: var(--line-feed);
}

.share-heading {
  --scale: var(--scale-h3);
  display: grid;
  grid-template-columns: minmax(var(--line-feed), 1fr)
                         auto
                         minmax(var(--line-feed), 1fr);
  align-items: center;
  column-gap: 0.5ch;
  margin-block-end: var(--line-feed);
}

.share-heading::before,
.share-heading::after {
  content: '';
  display: block;
  border-block-start: 1px solid currentColor;
}

.share-body {
  text-align: center;
}

/* .toc  {{{2 */

.toc {
  margin-block-end: var(--line-feed);
  border: 1px solid var(--red-5);
  border-radius: 4px;
  background-color: var(--red-1);
  box-shadow: 2px 2px var(--red-3);
  font-family: var(--font-display);
  font-weight: bold;
}

.toc-heading {
  padding-block: calc(var(--line-feed) / 4 - 1px);
  padding-inline: calc(var(--line-feed) / 2 - 1px);
  border-block-end: 1px dashed transparent;
}

.toc-heading::marker {
  color: var(--red-6);
}

.toc[open] .toc-heading {
  border-block-end-color: var(--red-5);
}

.toc-content {
  padding-block: calc(var(--line-feed) / 4)
                 calc(var(--line-feed) / 4 - 1px);
  font-size: var(--text-x-small);
}

.toc-list {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.toc-item.is-capter {
  counter-increment: capter;
}

.toc-item.is-section {
  counter-increment: section;
  text-indent: 2ch;
}

.toc-item-anchor {
  display: block;
  padding-inline: calc(var(--line-feed) / 2 - 1px);
}

.toc-item-anchor::before {
  color: var(--red-6);
  font-weight: bold;
}

.toc-item.is-capter > .toc-item-anchor::before {
  content: counter(capter) '. ';
}

.toc-item.is-section > .toc-item-anchor::before {
  content: counter(capter) '.' counter(section) '. ';
}

a.toc-item-anchor {
  text-decoration: none;
  color: inherit;
}

a.toc-item-anchor:hover {
  background-color: var(--red-3);
}

/* .work  {{{2 */

.work-list {
  list-style: none;
  padding-inline-start: 0;
}

.work {
  display: flex;
  column-gap: calc(var(--line-feed) / 2);
}

.work:not(:last-child) {
  margin-block-end: var(--line-feed);
}

.work-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 5 / 4;
  box-sizing: border-box;
  block-size: calc(var(--line-feed) * 4);
  border: 1px solid currentColor;
  box-shadow: 2px 2px var(--gray-4);
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}

.work-visual:empty::before {
  content: 'NO IMAGE';
  color: var(--gray-4);
  font-family: var(--font-display);
  font-weight: 800;
  font-size: var(--text-h6);
  line-height: 1.0;
}

a.work-visual {
  text-decoration: none;
  color: inherit;
}

a.work-visual:hover {
  color: var(--red-6);
  box-shadow: 2px 2px var(--red-3);
}

a.work-visual:hover::before {
  color: var(--red-4);
}

.work-visual-image {
  flex: 1;
  object-fit: contain;
  align-self: stretch;
  min-width: 0;
}

.work-content {
  flex: 1;
}

.work-title {
  --scale: var(--scale-h6);
}

a.work-title-anchor {
  text-decoration: none;
  color: inherit;
}

a.work-title-anchor:hover {
  color: var(--red-6);
}

/* __END__  {{{1
 * vim: foldmethod=marker
 */
